// bower:scss
// endbower
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "bower_components/normalize-scss/_normalize.scss";

@import "colors";
@import "breakpoints";
@import "grid";
@import "typography";
@import "mixins";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$post-padding: 20px;

body {
  background: white;
  font-family: $body-font;
  color: $text-black;
}

h1, h2 {
  font-family: $header-font;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 200%
}

h2{ 
  margin: 0px 0px 16px;
  color: $red;
}
h6 {
  font-size: 10px;
  margin: 0px;
  font-weight: 200;
}

section {
  margin-top: 64px;
  margin-bottom: 24px;
}

p {
  margin: 0px;
}

.header-disclaimer {
  @extend %disclaimer;
  height: 34px;
  text-transform: uppercase;
  #tbrand-logo {
    display: none;
  }
  #ad-logo{
    display: inline;
    top: 6px;
    left: 6px;
    position: relative;
    img {
      width: 100px;
    }
  }
  h6 {
    display: inline-block;
    line-height: 2;
    margin-left: -10px;
  }
  .info {
    &.desktop {
      display: none;
    }
  }
  .share-logo {
    position: absolute;
    top: 8px;
    right: 20px;
    i.fa {
      font-size: 1rem;
    }
    &.desktop {
      display: none;
    }
  }
}

.post-header{
  height: 85vw;
  background: $red;
  padding: 0px $post-padding;
    h1 {
      margin: 0px;
      position: relative;
      top: 30%;
    }
  .desktop {
    display: none;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 45px;
  p {
    font-family: $subtitle-font;
    font-weight: 200;
    color: $light-grey;
    line-height: 1.25;
  }
}

figcaption {
  color: $grey;
  font-family: $caption-font; 
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}

.section-article {
  margin: 0px $post-padding 27px;
  line-height: 1.25;
}
.slideshow {
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
  text-align: center;
  .slideshow__images {
    background-color: $red;
    height: 52vw;
    width: 100%;
  }
  .slideshow__dots {
    margin: 14px 0px 12px;
    ul {
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
    li {
      display: inline-block;
      border-radius: 50%;
      background-color: $light-grey;
      margin: 0px 1vw;
      width: 9px;
      height: 9px;
    }
  }
  .slideshow__zoomin {
    display: none;
  }
  .slideshow__navs {
    &.desktop {
      display: none;
    }
  }
  .slideshow__prev, .slideshow__next {
    position: absolute;
    top: 23vw;
    color: white;
    width: 6vw;
  }
  .slideshow__prev {
    left: 6px;
    transform: rotate(180deg);
  }
  .slideshow__next {
    right: 6px;
  }
  .slideshow__info {
    text-align: left;
    display: inline-block;
    margin: 0px auto;
  }
  .slideshow__caption{
    margin-bottom: 8px;
    span {
      display: block;
      &:last-of-type {
        display: none;
      }
    }
  }
  .slideshow__credit {
    text-transform: uppercase;
    font-size: 10px;
    span {
      &:first-of-type {
        display: inline-block;
      }
      &:last-of-type {
        display: none;
      }
    }
  }
}
.featured-image {
  margin-left: 16px;
  margin-right: 16px;
  .featured-image__img {
    height: 52vw;
    width: 100%;
    background: $red;
  }
  .featured-image__info {
    border-top: 2px solid $red;
    margin-top: 14px; 
    padding-top: 10px;
  }
  .featured-image__caption {
    margin-bottom: 8px;
    &.desktop {
      display: none;
    }
  }
  .featured-image__credit {
    font-size: 10px;
    &.desktop {
      display: none;
    }
  }
}
.section-video {
  margin-bottom: 25px;
  position: relative;
  video {
    width: 100%;
    background: $red;
    margin-bottom: 10px;
    height: 56vw;
  }
  .video__play {
    position: absolute;
    width: 70px;
    top: 30%;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .video__caption {
    margin-left: 20px;
    margin-bottom: 8px;
  }
}

.section-separator {
  margin: 0px 20px;
  height: 1px;
  position: relative;
}
.separator-line {
  width: 88%;
  height: 1px;
  background: $light-grey;
  float: left;
}
.separator-link {
  text-align: center;
  width: 30px;
  position: absolute;
  right: -10px;
  top: -30px;
  font-family: $caption-font;
  span {
    display: inline-block;
    position: relative;
    line-height: 1;
    &:first-of-type{
      color: $red;
    }
    &:last-of-type{
      font-size: 14px;
      top: -5px;
    }
  }
}

.disclaimer-footer {
  @extend %disclaimer;
  height: 45px;
  h6 {
    font-size: 10px;
  }
}
@include breakpoint($tablet){
  $post-padding: 15%;
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 40px;
  }
  .post-header{
    padding: 0px $post-padding;
  }
  .section-header {
    p {
      font-size: 20px;
    }
  }
  .section-article {
    margin-left: $post-padding;
    margin-right: $post-padding;
    line-height: 1.75;
  }
  .slideshow, .featured-image {
    margin-left: 12%;
    margin-right: 12%;
  }

}
@include breakpoint($desktop-large){
  $post-padding: 28.5%;
  h1 {
    font-size: 62px;
  }
  h2 {
    font-size: 46px;
  }
  section {
    margin: 95px 0px;
  }
  figcaption {
    font-weight: 400;
    line-height: 1.25;
  }
  .post-header {
    padding-left: 120px;
    margin-bottom: 125px;
    height: 50vw;
    background: $blue;
    .mobile{
      display: none;
    }
    .desktop {
      top: 142px;
      display: block;
    }
  }
  .header-disclaimer {
    height: 40px;
    h6 {
      font-size: 1rem;
    }
    #tbrand-logo {
      display: block;
      position: absolute;
      left: 18px;
      top: 6px;
    }
    #ad-logo {
      position: relative;
      top: 8px;
      left: 10px;
      img {
        width: 150px;
      }
    }
    .info {
      &.desktop {
        display: inline-block;
        border-right: 1px solid black;
        padding-right: 9px;
        .fa {
          font-size: 12px;
        }
      }
      &.mobile {
        display: none;
      }
    }
    .share-logo {
      display: none;
      &.desktop {
        display: inline-block
      }
    }
  }
  .section-header {
    margin-bottom: 70px;
    p {
      line-height: 1.25;
      font-size: 1.5rem;
    }
  }
  .section-article {
    margin: 0px $post-padding 55px;
  }
  .slideshow {
    overflow: auto;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    padding: 14px 0px;
    position: relative;
    margin: 0px 10.5% 48px 27.5%;
    .slideshow__images {
      @include span(8 of 12 first);
      height: 28vw;
      background: $blue;

    }
    .slideshow__extra {
      @include span(4 of 12 last);
      position: relative;
      height: 28vw;
    }
    .slideshow__info {
      margin-left: 16px;
      padding-top: 16px;
      p {
        margin-bottom: 10px;
      }
    }
    .slideshow__caption {
      color: $blue-dark;
      span {
        &:last-of-type {
          display: inline-block;
          margin-top: 4px;
        }
      }
    }
    .slideshow__credit {
      text-transform: capitalize;
      font-size: 1rem;
      span {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: block;
        }
      }
    }
    .slideshow__zoomin {
      position: relative;
      left: -4px;
      width: 30px;
      display: block;
    }
    .slideshow__dots {
      position: absolute;
      bottom: 0px;
      left: 16px;
      margin: 0px;
      ul {
        margin: 0px;
        li {
          margin: 0px 4px;
          &:first-of-type {
            margin-left: 0px;
          }
          &:nth-child(n+4){
            display: none;
          } 
        }
      }
    }
    .slideshow__navs {
      position: absolute;
      bottom: 24px;
      display: none;
      &.desktop {
        display: block;
        color: $red;
        font-size: 2rem;
        i.fa:first-of-type {
          margin-right: 27px;
          margin-left: 16px;
        }
      }
    }
  }
  .section-video {
    video {
      height: 56vw;
      background: $blue;
    }
    .video__play {
      top: 40%;
    }
    .video__caption {
      display: none;
    }
  }
  .featured-image {
    margin: 0px $post-padding;
    .featured-image__img {
      height: 25vw;
      background: $blue;
    }

    .featured-image__caption {
      color: $blue-dark;
      display: none;
      &.desktop {
        display: block;
      }
    }
    .featured-image__credit{
      font-size: 1rem;
      display: none;
      &.desktop {
        display: block;
      }
    }
  }
  .section-separator {
    margin: 0px 22%;
  }
  .separator-line {
    width: 100%;
  }
  .separator-link {
    right: -32%;
    span{
      &:first-of-type{
        font-size: 2rem;
      }
      &:last-of-type {
        font-size: 1rem;
      }
    }
  }
  .disclaimer-footer {
    h6 {
      font-size: 14px;
    }
  }
}
